<a href="https://colab.research.google.com/github/fan160/PYTHON/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

aula 1

In [ ]:
print("I competição de programação dá Start")

I competição de programação dá Start

In [ ]:
ano = "VI"

In [ ]:
print(ano, "competição de programação da Start")

VI competição de programação da Start

AULA 2

In [19]:
livro_ficcao = 8
livro_n_ficcao = 10
livro_infantil = 6
pontos_rodrigo = livro_ficcao + livro_n_ficcao + livro_infantil
print(f"Os pontos totais do Rodrigo são {pontos_rodrigo}")

pontos_Ana = livro_ficcao * 2 + livro_infantil * 5
print(f"Os pontos totais do Ana são {pontos_Ana}")
pontos_totais = pontos_rodrigo + pontos_Ana
print(f"Os pontos totais do Rodrigo são {pontos_totais}")
pontos_carlos = 1 * livro_ficcao + 3 * livro_n_ficcao + 3 * livro_infantil
print(f"Os pontos totais do carlos são {pontos_carlos}")
pontos_totais = pontos_rodrigo + pontos_Ana + pontos_carlos
print(f"Os pontos totais de ana e rodrigo sao {pontos_totais}")

Os pontos totais do Rodrigo são 24
Os pontos totais do Ana são 46
Os pontos totais do Rodrigo são 70
Os pontos totais do carlos são 56
Os pontos totais de ana e rodrigo sao 126